<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.liulishuo.share">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
            >
        
        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
                  android:configChanges="keyboardHidden|orientation"
                  android:windowSoftInputMode="adjustResize"
                  android:exported="false" >
        </activity>

        <service android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false">
        </service>

        <activity
                android:name="com.tencent.connect.common.AssistActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
                android:name="com.liulishuo.share.wechat.WechatHandlerActivity"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoDisplay" />

    </application>

</manifest>
